/* You can override this file with your own styles */

figure {
  display: inline;
  margin: 0px;
}

figure img {
  vertical-align: baseline;
}

figure figcaption {
  display: none;
}

pre {
  word-break: normal;
  word-wrap: normal;
  overflow-wrap: normal;
  overflow-x: auto;
  white-space: pre;
}
