/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *   https://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

html {
  font-size: 100%;
  overflow:auto;
}
body {
  padding: 0px;
  background-image: url(../images/paper.jpg);
  background-attachment: scroll;
}
body, td, select, input, li{
  font-family: Verdana, Helvetica, Arial, sans-serif;
  font-size: 13px;
}
code{
  font-family: Courier, monospace;
  font-size: 13px;
}
a {
  text-decoration: none;
}
a:-webkit-any-link {
  text-decoration: none !important;
}
a:link {
  color:#36a;
}
#navcolumn a, #navcolumn a:visited {
  color: Sienna;
}
li.collapsed, li.expanded, a:link {
  color: Brown;
}
#fixed-site-footer a:visited  {
  color: #f00;
}
#fixed-site-footer a:hover {
  color: #69c;
}
#fixed-site-footer a:link {
  color: #f6a;
}
a:visited  {
  color:#c00;
}
a:active, a:hover {
  color:#69c;
}
#legend li.externalLink {
  background: url(../images/external.png) left top no-repeat;
  padding-left: 18px;
}
a.externalLink, a.externalLink:link, a.externalLink:visited, a.externalLink:active, a.externalLink:hover {
  background: url(../images/external.png) right center no-repeat;
  padding-right: 18px;
}
#legend li.newWindow {
  background: url(../images/newwindow.png) left top no-repeat;
  padding-left: 18px;
}
a.newWindow, a.newWindow:link, a.newWindow:visited, a.newWindow:active, a.newWindow:hover {
  background: url(../images/newwindow.png) right center no-repeat;
  padding-right: 18px;
}
h2 {
  padding: 4px 4px 4px 6px;
  border: 1px solid #999;
  color: #900;
  background-color: #ddd;
  font-weight:900;
  font-size: x-large;
}
h3 {
  padding: 4px 4px 4px 6px;
  border: 1px solid #aaa;
  color: #900;
  background-color: #eee;
  font-weight: normal;
  font-size: large;
}
h4 {
  padding: 4px 4px 4px 6px;
  border: 1px solid #bbb;
  color: #900;
  background-color: #fff;
  font-weight: normal;
  font-size: large;
}
h5 {
  padding: 4px 4px 4px 6px;
  color: #900;
  font-size: medium;
}
p {
  line-height: 1.3em;
  font-size: small;
}
#breadcrumbs {
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  background-color: #ccc;
}
#leftColumn {
  margin: 10px 0 0 5px;
  padding-right: 3px;
  padding-bottom: 3px; /* IE-9 scrollbar-fix */
}
#navcolumn h5 {
  font-size: smaller;
  border-bottom: 1px solid #aaaaaa;
  padding-top: 2px;
  color: #000;
}

table.bodyTable th {
  color: white;
  background-color: #bbb;
  text-align: left;
  font-weight: bold;
}

table.bodyTable th, table.bodyTable td {
  font-size: 1em;
}

table.bodyTable tr.a {
  background-color: #ddd;
}

table.bodyTable tr.b {
  background-color: #eee;
}

.source {
  border: 1px solid #c00;
}
dl {
  padding: 4px 4px 4px 6px;
  border: 1px solid #aaa;
  background-color: #ffc;
}
dt {
  color: #900;
}
#organizationLogo img, #projectLogo img, #projectLogo span{
  margin: 8px;
}
#banner {
  border-bottom: 1px solid White;
}
#fixed-site-header-wrapper {
  background-color: White;
  width: 100%;
  top: 0;
  position: fixed;
  overflow: auto;
  z-index:1000;
}
#fixed-site-header-container {
  background: url(../images/gradient-header.png) repeat-y;
}
#fixed-site-header {
  background-image: url('../images/logos/shadowrun.png');
  background-repeat: no-repeat;
  background-position: left top;
  background-attachment: fixed;
  margin: 0 auto;
  width: 100%;
  position: relative;
}
#bannerLeft {
  color: White;
  padding-left: 150px;
  height: 47px;
}
.ie8 a[name], .ff3 a[name] {
  margin-top: -90px;
  padding-top: 90px;
  width: 1px;
  display: block;
}
#fixed-site-content {
  padding: 75px 0px 200px 0px;
  height:100%;
  max-height:100%;
}
#fixed-site-footer {
  padding: 0px;
  margin: 0px 80px;
  position: relative;
}
#fixed-site-footer-container {
  border: 0px;
  color: White;
  background-image: url('../images/logos/hacker.png');
  background-repeat: no-repeat;
  background-position: right bottom;
  background-attachment: fixed;
  width:100%;
  margin:0px;
}
#fixed-site-footer-wrapper {
  background-color: White;
  background: url(../images/gradient-footer.png) repeat-x;
  width: 100%;
  bottom: 0;
  position: fixed;
  overflow: auto;
  z-index:1000;
}
.errormark, .warningmark, .donemark, .infomark {
  background: url(../images/icon_error_sml.gif) no-repeat;
}

.warningmark {
  background-image: url(../images/icon_warning_sml.gif);
}

.donemark {
  background-image: url(../images/icon_success_sml.gif);
}

.infomark {
  background-image: url(../images/icon_info_sml.gif);
}

.liquid-corner-top-left, .liquid-corner-top-right, .liquid-corner-bottom-left, .liquid-corner-bottom-right {
  background-image: url('../images/parchment-top-bottom-tearoff.gif');
  /* CHANGE: replace by the height of one of your corners (= 1/2 height of the image) */
  height: 9px;
  /* DNC: correction IE for height of the <div>'s */
  font-size: 2px;
}

.liquid-corner-top-left, .liquid-corner-bottom-left {
  margin-right: 9px;
}

.liquid-corner-top-right, .liquid-corner-bottom-right {
  margin-left: 9px;
  margin-top: -9px;
}

.liquid-corner-top-right {
  background-position: 100% 0;
}

.liquid-corner-bottom-left {
  background-position: 0 -9px;
}

.liquid-corner-bottom-right {
  background-position: 100% -9px;
}

.liquid-corner-inside {
  background-image: url('../images/parchment.gif');
  background-position: 0 15px;
  margin-left: 9px;
  margin-right: 9px;
  width: 262px;
}

.liquid-corner-insideleft, .liquid-corner-insideright {
  background-image: url('../images/parchment-left-right-tearoff.gif');
  background-repeat: repeat-y;
}

.liquid-corner-insideright {
  background-position: 100% 0;
}

.liquid-corner-notopgap {
  margin-top: 0;
}

.liquid-corner-nobottomgap {
  margin-bottom: 0;
}
